<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrance Log</title>
    <link rel="stylesheet" href="static/styles.css">

</head>
<body>
    <nav>
        <button id="SIBUTTON">Sign IN</button>
        <form action="/login" id="signin_form" method="POST">
            <h2>Username:</h2>
            <input type="text" name="Username" id="UN">
            <h2>Password:</h2>
            <input type="text" name="Password" id="PW">
            <button>Sign In</button>
        </form>
        <a href="{{url_for('homepage')}}"><img src="https://via.placeholder.com/75" alt=""></a>
    </nav>
    <form action="/ADDLOG" id="inout">
        <h1>
            {% if lost_user %}
            <select name="building" id="building selector">
                {% for building in all_buildings %}
                <option value="{{building}}">{{building}}</option>
                {% endfor %}
            </select>
            {% else %}
            {{building}}
            {% endif %}
            
                
        </h1>
        <div>
            <h3>First Name</h3>
            <input type="text" name="first_name" id="first_name_input">
            <h3>Last Name</h3>
            <input type="text" name="last_name" id="last_name_input">
            <input type="hidden" name="date" value="{{current_Date}}">
            <input type="hidden" name="time" value="{{current_Time}}">
            {% if lost_user == False %}
                <input type="hidden" name="building" value="{{building}}">
            {% endif %}
        </div>
        <div>
            <button name='INOROUT' value="IN">In</button>
            <button name='INOROUT' value="OUT">Out</button>
        </div>
    </form>
</body>
<script src="static/main.js"></script>
</html>