<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrance Log</title>
    <link rel="stylesheet" href="static/styles.css">

</head>
<body>
    <nav>
        <form action="/login" method="POST" id="BUTTONFORM"><button id="SIBUTTON" value="{{admin_state}}" name="admin_state">{{admin_state}}</button></form>
        <form action="{{url_for('login')}}" id="signin_form" method="POST">
            <h2>Username:</h2>
            <input type="text" name="Username" id="UN">
            <h2>Password:</h2>
            <input type="text" name="Password" id="PW">
            <button>Sign In</button>
        </form>
        <a href="{{url_for('homepage')}}"><img src="{{path_to_logo}}" alt=""></a>
    </nav>
    <form action="" method="POST">
        <select name="building" id="BLD" value={{selected_building}}>
            <option value="{{selected_building}}">{{selected_building}}</option>
            {% for building in buildings %}
            <option value="{{building}}">{{building}}</option>
            {% endfor %}
        </select>
        {% if dates|length > 0 %}
        <select name="date" id="DTE">
            {% for date in dates %}
            <option value="{{date}}">{{date}}</option>
            {% endfor %}
        </select>
        {% endif %}
        <button value="show_logs" name="form_action" id="NXT">GO</button>
        <button value="download" name="form_action" id="DWN">Download</button>
    </form>
    <h4>{{selected_building}}-{{selected_date}}</h4>
    <h5>NAME------------IN-----OUT</h5>
    <ul>
        {% for item in logs %}
        <li>{{item}}</li>
        {% endfor %}
    </ul>
</body>
<script src="static/main.js"></script>
<script src="static/logs.js"></script>
</html>